/* horizontally & vertically centering the dashboard  */
#dashboard-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
}

#dashboard-container {
    --content-padding: 2rem;
    --content-gap: 1rem;

    display: flex;
    width: 95vw;
    height: 95vh;
    background-color: var(--primary);
    border-radius: 1rem;
    box-shadow: var(--shadow);
    font-weight: var(--fw-regular);
    font-size: 1rem;
    color: var(--text-color);
}

#dashboard-container main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

#dashboard-container article {
    --max-width: 1200px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-block: var(--content-padding);
    gap: var(--content-gap);
    overflow: auto;

    width: min(var(--max-width), 100% - (var(--content-padding) * 2));
    margin-inline: auto;
}

.article-title {
    font-size: 1.5rem;
    color: var(--title-color);
}

@media screen and (max-width: 1024px) {
    #dashboard-container article {
        --content-padding: 1rem;
    }

    .article-title {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 425px) {
    #dashboard-container {
        width: 100%;
        height: 100vh;
        border-radius: 0rem;
    }

    #dashboard-container article {
        padding: 1rem;
        font-size: 12px;
    }

    article .article-title { font-size: 1.5rem; }
}

/* Circular Progress Bar */
.circular-wrapper {
    max-width: 300px;
    padding: 2rem 0;
    border-radius: 1rem;
    background-color: var(--primary);
}

/* Go Back Button */
.go-back {
    cursor: pointer;
    max-width: 150px;
    background-color: var(--subtitle-color);
    color: var(--primary);
    padding: .5rem 1rem;
    border-radius: var(--rounded-sm);
    border: 2px solid transparent;
}

.go-back:hover {
    background-color: var(--title-color);
    border-color: var(--title-color);
    border-radius: var(--rounded-md);
}

.go-back i {
    margin-right: .5rem;
}