@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Imports */
@import url("form.css");
@import url("sidebar.css");
@import url("navbar.css");
@import url("dashboard.css");

/* 1 rem = 16px */

/* General Styling */
:root {
    /* Color Pallete */
    --primary-variant: hsl(212, 25%, 15%);
    --primary: hsl(212, 25%, 30%);
    --secondary: hsl(212, 25%, 40%);
    --tertiary: hsl(212, 25%, 60%);

    --title-color: hsl(0, 0%, 100%);
    --subtitle-color: hsl(0, 0%, 90%);
    --text-color: hsl(0, 0%, 80%);
    --muted-color: hsl(0, 0%, 60%);

    /* Font Family */
    --ff-base: 'Lora', serif;
    /* --ff-accent: 'Poppins', sans-serif; */

    /* Font Weights */
    --fw-regular: 400;
    --fw-semibold: 500;
    --fw-bold: 600;

    /* Shadows */
    --shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);

    /* Border Radius */
    --rounded-sm: .5rem;
    --rounded-md: .75rem;
    --rounded-lg: 1000vmax;
}

/* Light Mode Colors */
.light-mode {
    --primary-variant: hsl(0, 0%, 100%);
    --primary: hsl(0, 0%, 90%);
    --secondary: hsl(0, 0%, 80%);
    --tertiary: hsl(0, 0%, 70%);

    --title-color: hsl(212, 25%, 15%);
    --subtitle-color: hsl(212, 25%, 20%);
    --text-color: hsl(0, 0%, 20%);
    --muted-color: hsl(0, 0%, 40%);
}

/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    transition: all .2s;
    font-family: var(--ff-base);
}

html {scroll-behavior: smooth;}
ul { list-style: none; }
textarea { resize: none; }

/* general styling */
a {
    color: var(--tertiary);
    text-decoration: none;
}

a:hover,
a:focus {text-decoration: underline;}

body {
    background-color: var(--primary);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
}

/* Utility classes */
.colored { color: var(--tertiary);}

.hidden { display: none; }

.table {
    --content-padding: 1rem;

    width: calc(75% - var(--content-padding));
    color: var(--text-color);
    overflow: hidden;
    border-radius: var(--rounded-md);
    border-collapse: collapse;
}

.table td,
.table th {
    padding: var(--content-padding) 2rem;
    min-width: 200px;
}

@media screen and (max-width: 600px) {
    .table td,
    .table th {
        padding: var(--content-padding);
    }
}

.table thead tr {
    border-bottom: 2px solid var(--primary-variant);
    background-color: var(--tertiary);
    color: var(--title-color);
}

.light-mode .table thead tr {
    background-color: var(--title-color);
    color: var(--primary);
}

.table tbody tr:nth-child(even) {
    background-color: rgba(0,0,0,.125);
}

.table tbody td:last-child {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.table i { color: var(--text-color); }
.table i:hover { color: var(--tertiary); }

/* Custom Scrollbar */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background-color: var(--tertiary); }

/* Light Theme Fixes */
.light-mode a.nav-brand { color: var(--secondary); }

.light-mode button:hover,
.light-mode button:focus {
    background-color: var(--tertiary);
}